<!doctype html>
<html lang="ja">
<head prefix="og:http://ogp.me/ns#">
  <meta charset="UTF-8"/>
  <meta rel="icon" type="image/png" href="{{ site.icon | htmlBaseUrl }}"/>
  <meta name="generator" content="{{ eleventy.generator }}" />
  <title>{{ title }} - UNTIL.</title>
  {% include "components/ogp.njk" %}
</head>
<body>
  {% include "./components/header.njk" %}
  <main>
    {{ content | safe }}
  </main>
  {% include "./components/footer.njk" %}
</body>
</html>
