<footer>
    <hr>
    <div id="copyright">
        copyright &copy; 2023- UNTIL. and Information-technology Promotion Committee (IPC), <a href="https://www.stb.tsukuba.ac.jp/~zdk/">All Colleges Students’ Representative Council, University of Tsukuba</a>.
    </div>
    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "71091659db814dc7abb18c803c06d64f"}'></script><!-- End Cloudflare Web Analytics -->
</footer>
