<footer>
    <hr>
    <div id="copyright">
        copyright &copy; 2023- UNTIL. and Information-technology Promotion Committee (IPC), <a href="https://www.stb.tsukuba.ac.jp/~zdk/">All Colleges Students’ Representative Council, University of Tsukuba</a>.
    </div>
</footer>
