<nav>
  <ul>
    <li><a href="{{ "/" | htmlBaseUrl }}">Home</a></li>
    <li><a href="https://twitter.com/until_tsukuba">Twitter</a></li>
    <li><a href="https://github.com/until-tsukuba">GitHub</a></li>
    <li><a href="./events.ics" type="text/calendar">イベント予定(iCal形式)</a></li>
  </ul>
</nav>
