<nav>
  <ul>
    <li><a href="{{ "/" | htmlBaseUrl }}">Home</a></li>
    <li><a href="https://twitter.com/until_tsukuba">Twitter</a></li>
    <li><a href="https://github.com/until-tsukuba">GitHub</a></li>
    <li><a href="{{ "/events" | htmlBaseUrl }}">イベント一覧</a></li>
  </ul>
</nav>
