<nav>
  <div class="tabs">
    <a href='{{ "/" | htmlBaseUrl }}'>Home</a> /
    <a href='{{ "/events" | htmlBaseUrl }}'>イベント一覧</a> /
    <a rel="me" href="https://twitter.com/until_tsukuba">Twitter</a> /
    <a rel="me" href="https://mi.tsukuba.dev/@until">Misskey (Fediverse)</a> /
    <a rel="me" href="https://github.com/until-tsukuba">GitHub</a>
  </div>
</nav>
