<meta property="og:title" content="{{ title | default(ogp.title) }}"/>
<meta property="og:description" content="{{ summary | default(ogp.description) }}"/>
<meta property="og:url" content="{{ page.url | htmlBaseUrl }}"/>
<meta property="og:image" content="{{ ogp.image | htmlBaseUrl }}"/>
<meta property="og:type" content='{{ ogp_type | default("webpage") }}'/>
<meta property="og:site_name" content="{{ ogp.site_name }}"/>
<meta property="twitter:card" content="summary"/>
<meta property="twitter:site" content="{{ ogp.twitter.id }}"/>
<meta name="fediverse:creator" content="{{ ogp.fediverse.creator }}" />
{% if ogp_type === "article" && ogp.tags %}
    {% for tag in ogp.tags %}
        <meta property="article:tag" content="{{ tag }}"/>
    {% endfor %}
{% endif %}
