<meta property="og:title" content="{{ default(name, ogp.title) }}"/>
<meta property="og:description" content="{{ default(summary, ogp.description) }}"/>
<meta property="og:url" content="{{ page.url | htmlBaseUrl }}"/>
<meta property="og:image" content="{{ ogp.image | htmlBaseUrl }}"/>
<meta property="og:type" content='{{ default(ogp_type, "webpage") }}'/>
<meta property="og:site_name" content="{{ ogp.site_name }}"/>
<meta property="twitter:card" content="summary"/>
<meta property="twitter:site" content="{{ ogp.twitter.id }}"/>
