---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "UNTIL.イベント開催情報",
    "subtitle": "UNTIL.が主催するイベントの情報を配信しています。",
    "language": "ja",
    "url": "https://until.tsukuba.dev",
    "author": {
      "name": "UNTIL."
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self"/>
  <link href="{{ metadata.url }}" rel="alternate" type="text/html" />
  <updated>{{ collections.event | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  {%- for post in collections.event | reverse %}
  {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    {% if post.data.summary %}<summary>{{ post.data.summary }}</summary>{% endif %}
    <content xml:lang="{{ metadata.language }}" type="html"><dl>{% if post.data.dtstart %}<dt>開始</dt><dd>{{ post.data.dtstart }}</dd>{% endif %}{% if post.data.dtend %}<dt>終了</dt><dd>{{ post.data.dtend }}</dd>{% endif %}{% if post.data.location %}<dt>場所</dt><dd>{{ post.data.location }}</dd>{% endif %}</dl>{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
