---
permalink: events.ics
eleventyExcludeFromCollections: true
---
BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//until./until.tsukuba.dev//NONSGML v1.0//JP
X-WR-TIMEZONE:UTC
{%- for event in collections.event %}
BEGIN:VEVENT
UID:{{ event.page.url | htmlBaseUrl }}
DTSTAMP:{{ event.page.date | date | dateToISO8601 }}
DTSTART;VALUE=DATE-TIME:{{ event.data.dtstart | date | dateToISO8601 }}
DTEND;VALUE=DATE-TIME:{{ event.data.dtend | date | dateToISO8601 }}
SUMMARY:{{ event.data.title }}
{% if event.data.location !== undefined -%}
LOCATION:{{ event.data.location }}
{%- endif %}
{% if event.page.url !== undefined -%}
URL:{{ event.page.url | htmlBaseUrl }}
{% endif -%}
END:VEVENT
{%- endfor %}
END:VCALENDAR
