---
layout: page
title: "Home"
ogp_type: "website"
---
<article>
    <section>
        <h1>UNTIL.とは</h1>
        <p>
            UNTIL.とは「UNiversity of Tsukuba Information-technology Lab.」の略です。
            筑波大学 全学学類・専門学群・総合学域群代表者会議の情報処理推進特別委員会が運営する、筑波大学の学生やOBによって構成される情報系技術者コミュニティです。
        </p>
    </section>
    <section>
        <h1>UNTIL.の目的</h1>
        <p>
            目的としては、以下が挙げられます。
        </p>
        <ul>
            <li>筑波大学関連の情報系技術者の交流を促進し、技術的な知見の共有や引き継ぎ問題の解決を図る</li>
        </ul>
    </section>
    <section>
        <h1>活動</h1>
        <ul>
            <li>定期的なLT会の開催</li>
            <li>サブドメイン貸し出しサービス: <a href="https://www.tsukuba.dev">tsukuba.dev</a>の運営</li>
        </ul>
    </section>
    <section>
        <h1>直近のイベント予定</h1>
        {%- set eventsListLimit = 3 %}
        {% include "components/upcoming-events.njk" %}
        <hr>
        <p><a href="{{ "/events" | htmlBaseUrl }}">全てのイベントを確認する</a>（<a href="{{ "/feed.xml" | htmlBaseUrl }}">RSS Feed</a> / <a href="{{ "/events.ics" | htmlBaseUrl }}">iCal</a>）</p>
    </section>
    <section>
        <h1>UNTIL.に参加するには</h1>
        <p>UNTIL.はDiscordを使って活動しています。UNTIL. Discordに参加するには4つの方法があります:</p>
        <ol>
            <li>DiscordのStudent Hubから参加する</li>
            <li>UNTIL.のTwitterアカウントに参加希望のDMを送る</li>
            <li>UNTIL.LTに参加する</li>
            <li>運営母体に加入する</li>
        </ol>
    </section>
    <section>
        <h1>バナー</h1>
        <img height="93" src="/assets/img/until_banner_dark_352_124.png">
        <img height="93" src="/assets/img/until_banner_light_705_249.png">
    </section>
</article>
